.ion-md-play, .ion-md-pause {
  float: right;
}

.ion-md-play, .ion-md-pause, #info {
  display: inline-block;
}

#info {
  max-width: 85%;

  h3 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
