<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Playlist</ion-title>
</ion-navbar>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="#song of songs" (click)="songTapped($event, song)">
      <!-- <ion-icon [name]="item.icon" item-left></ion-icon> -->
      {{song.title}}
      <div class="item-note" item-right>
        {{song.artist}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedSong" padding>
    You navigated here from <b>{{selectedSong.title}}</b>
  </div>
</ion-content>
