<ion-navbar>
  <div *ngIf="myPlaylist">
    <ion-searchbar *ngIf="showSearch"
      [(ngModel)]="searchQuery"
      (input)="getItems($event)"
      (cancel)="toggleSearch(false)">
    </ion-searchbar>
    <ion-buttons end>
      <button clear *ngIf="myPlaylist.length > 0 && !showSearch" (click)="confirmClear()">Clear</button>
      <button clear *ngIf="myPlaylist.length > 0 && !showSearch">Open in Spotify</button>
      <button clear *ngIf="myPlaylist.length > 0 && !showSearch" (click)="toggleSearch(true)"><ion-icon name="search"></ion-icon></button>
    </ion-buttons>
  </div>
</ion-navbar>

<div *ngIf="!myPlaylist" class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

<div *ngIf="myPlaylist">
  <p *ngIf="myPlaylist.size === 0">Your playlist is empty</p>
</div>

<ion-content *ngIf="myPlaylist" class="playlist animated slideInRight">

  <ion-list>
    <ion-item-sliding *ngFor="#song of myPlaylist | sort" [ngClass]="{selected: nowPlaying(song)}">
      <ion-item (click)="playSong(song)">
        <ion-thumbnail item-left><img src={{song.image_large}}></ion-thumbnail>
        <h3>{{song.title}}</h3>
        <p>{{song.artist}}</p>
        <button dark clear item-right>
          <ion-icon *ngIf="nowPlaying(song)" name="pause"></ion-icon>
          <ion-icon *ngIf="!nowPlaying(song)" name="play"></ion-icon>
        </button>
      </ion-item>
      <ion-item-options>
        <button danger (click)="deleteSong(song)">
          <ion-icon name="delete"></ion-icon>
          Delete
        </button>
        <button primary (click)="showModal({mySong: song})">
          <ion-icon name="comments"></ion-icon>
          Comments
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
