.playlist {
  
  // .sticky {
  //   position: fixed;
  // }

  h3 {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .selected {
    border-left: 10px solid #ff369b;
  }

  ion-item-sliding.deleted {
    display: none;
  }

  .noshow {
    display: none;
  }

}
