<ion-navbar *navbar dark>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Playlist</ion-title>
  <ion-buttons end>
    <button outline light>Clear</button>
  </ion-buttons>
  <ion-buttons end>
    <button outline light>Save to Spotify</button>
  </ion-buttons>
</ion-navbar>

<h1 *ngIf="myPlaylist.size === 0">Your playlist is empty</h1>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="#song of myPlaylist">
      <ion-item (click)="playSong(song)">
        <ion-thumbnail item-left><img src={{song.image_large}}></ion-thumbnail>
        <div id="info">
          <h3>{{song.title}}</h3>
          <p>{{song.artist}}</p>
        </div>
        <ion-icon clear *ngIf="nowPlaying(song)" name="pause"></ion-icon>
        <ion-icon clear *ngIf="!nowPlaying(song)" name="play"></ion-icon>
        <!-- <ion-icon clear item-right name="md-musical-note" [ngClass]="{playing: nowPlaying(song)}"></ion-icon> -->
      </ion-item>
      <ion-item-options>
        <button danger (click)="deleteSong(song)">
          <ion-icon name="delete"></ion-icon>
          Delete
        </button>
        <!-- <button primary (click)="songTapped($event, song)">
          <ion-icon name="details"></ion-icon>
          Details
        </button> -->
    </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!-- <div *ngIf="selectedSong" padding>
    You navigated here from <b>{{selectedSong.title}}</b>
  </div> -->
</ion-content>
