.home {

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }

  .instructions-container {
    display: table !important;
    width: 100% !important;
    height: 100% !important;
  }
  .instructions {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
  }

}

// ion-navbar-section {
//   display: none !important;
// }

.logo .toolbar-title {
  letter-spacing: 0.1em;
  color: black;
   -webkit-text-fill-color: #f4f4f4; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

// .toolbar-background {
//   background-color: transparent !important;
// }
