.home {

  button[fab].play-song {
    z-index: 1;
  }

  ion-card {
    max-height: 95%;
  }

  ion-card-content h4 {
    max-width: 85%;
  }

  ion-item h2 {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 54%;
    display: inline-block;
  }

  .spotify-link {
    width: 45%;
    float: right;
  }

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }

  .album-cover {
    max-height: 63%;
    object-fit: cover;
  }

  scroll-content {
    padding: 10px;
  }

  .instructions {
    text-align: center;
    font-size: 40px;
  }

}
