<ion-slides pager>

  <ion-slide style="background-color: black">
    <button outline light large *ngIf="!loggedIn()" (click)="login()">LOGIN</button>
    <button outline light large *ngIf="loggedIn()" (click)="goToHome()">Enter</button>
    <!-- <img src="images/heart-hands.jpeg" /> -->
  </ion-slide>

  <ion-slide style="background-color: purple">
    <h2>Slide 2</h2>
    <!-- <img src="images/slide2.png" /> -->
  </ion-slide>

  <ion-slide style="background-color: pink">
    <h2>Slide 3</h2>
    <ion-row>
        <ion-col>
            <!-- <img src="images/slide3.png" /> -->
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <button outline dark (click)="goToHome()">Let's go!</button>
        </ion-col>
    </ion-row>
  </ion-slide>

</ion-slides>
