<ion-slides pager>

  <ion-slide style="background-color: black">
    <button outline light large *ngIf="!loggedIn()" (click)="login()">LOGIN</button>
    <!-- <button outline light large *ngIf="loggedIn()" (click)="goToHome()">Enter</button> -->
  </ion-slide>

  <ion-slide style="background-color: purple">
    <h2>Slide 2</h2>
  </ion-slide>

  <ion-slide style="background-color: pink">
    <h2>Slide 3</h2>
    <ion-row>
        <ion-col>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <button outline dark (click)="goToHome()">Let's go!</button>
        </ion-col>
    </ion-row>
  </ion-slide>

</ion-slides>
